{% load static %}
{% block body %}

<div class="div-body p-2">
    <div class="container-fluid h-100 d-flex align-items-center">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">

                {% if not request.user.is_staff %}
                <img src="{% static 'img/index-no-autenticado.webp' %}" class="img-fluid " alt="Sample image"
                    width="700">
                {% else %}
                <img src="{% static 'img/admin-index.jpg' %}" class="img-fluid " alt="Sample image" width="1000">
                {% endif %}

            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="text-center">
                    <h1><strong>
                            {% if not request.user.is_staff %}
                            Botilleria LaPilar
                            {% else %}
                            <h3><strong>Bienvenido</strong></h3>
                            {% endif %}
                        </strong></h1>
                    <h5>
                        {% if not request.user.is_staff %}
                        Sistema de bodega
                        {% else %}
                        <i class="fa-solid fa-user-gear text-primary"></i> {{ user.nombre }} {{ user.apellido }} <i
                            class="fa-solid fa-circle-check text-success"></i> {{ user.cargo }}
                        {% endif %}
                    </h5>
                    <p>
                        {% if not request.user.is_staff %}
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi itaque, repudiandae accusamus
                        rerum pariatur vero aut expedita quasi culpa deleniti vel libero voluptatem praesentium tempore
                        unde enim fugit consequatur eos.
                        {% else %}
                    <h5><i> Al panel de Administración</i></h5>
                    {% endif %}
                    </p>

                    <div class="d-flex justify-content-center p-2">
                        {% if not request.user.is_staff %}
                        <a href="{% url 'login' %}" class="btn btn-primary ">Iniciar Sesión</a>
                        {% else %}
                        <div class="dropdown">
                            <button class="btn btn-outline-success dropdown-toggle" type="button"
                                id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                Acceso rápido <i class="fa-solid fa-circle-chevron-down"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                {% if not request.user.cargo == 'OPERADOR' %}
                                <li><a class="dropdown-item active" href="{% url 'usuario:crear_usuarios' %}">Registrar
                                        empleado</a></li>
                                <li><a class="dropdown-item" href="{% url 'proveedor:crear_proveedores' %}">Registrar proveedor</a></li>
                                <li><a class="dropdown-item " href="{% url 'productos:crear_productos' %}">Registrar producto</a></li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Bodega</a></li>
                                {% else %}
                                <li><a class="dropdown-item active" href="{% url 'productos:crear_productos' %}">Registrar producto</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Bodega</a></li>
                                {% endif %}

                            </ul>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}