{% extends 'index.html' %}
{% load static %}


{% block body %}
<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="{% static 'img/productos/home.jpg' %}"
                class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-4">
            
            <ul class="list-group text-center h4">
                <li class="list-group-item "><h3 ><i>Panel de gestión de productos <i class="fa-solid fa-truck text-success"></i></i></h3></li>
                <li class="list-group-item "><a href="{% url 'productos:crear_productos' %}"><i>Registrar nuevo producto</i></a></li>
                <li class="list-group-item "><a href="{% url 'productos:listar_productos' %}"><i>Lista de productos registrados</i></a></li>
                <li class="list-group-item "><a href="{% url 'productos:crear_categoria' %}"><i>Registrar nueva categoria</i></a></li>
                <li class="list-group-item "><a href="{% url 'productos:listar_categoria' %}"><i>Lista de categorias registradas</i></a></li>
                <li class="list-group-item "><a href="{% url 'productos:crear_unidad_medida' %}"><i>Registrar unidad de medida</i></a></li>
                <li class="list-group-item "><a href="{% url 'productos:listar_unidad_medida' %}"><i>Lista de unidadades de medida registradas</i></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock body%}