{% extends 'index.html' %}
{% load humanize %}
{% block body %}



{% if object_list %}
<div class="container-fluid  p-2" style="margin-top:3rem">

    <div class="card ">
        <div class="card-body ">
            <h5 class="card-title text-center"><strong>Unidades de medida</strong></h5>

            <table class="table table-responsive text-center ">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unidad_medida in object_list %}
                    <tr>
                        <td> {{ unidad_medida.nombre }} </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'productos:eliminar_unidad_medida' unidad_medida.id %}">Eliminar</a>
                            <a class="btn btn-primary" href="{% url 'productos:actualizar_unidad_medida' unidad_medida.id %}">Actualizar</a>
                        </td>
                        {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% block paginacion %}
{% include 'components/paginacion.html' %}
{% endblock paginacion %}
{% else %}
<h1><strong><b>No existen unidades de medida registradas</b></strong></h1>
{% endif %}

{% endblock body %}